.card-header {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
  }
  
  .avatar {
    background-color: transparent !important;
  }
  
  @media (max-width: 515px) {
    #title-0 {
      margin-bottom: 15px;
    }
  }
  
  .user-name {
    font-size: 16px;
    font-weight: 700;
  }
  
  .user-info {
    margin-left: 30px;
    p {
      margin-bottom: 5px;
      margin-top: 0px;
    }
  }
  .user-data {
    font-weight: 400;
    font-size: 12px;
  }
  
  .user-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  @media (max-width: 413px) {
    .user-card {
      flex-direction: column;
      align-items: center;
    }
    .user-info {
      margin-left: 0px;
      margin-top: 15px;
      p {
        text-align: center;
      }
    }
  }
  