.card-header {
    padding-bottom: 0px !important;
  }
  
  .card-title0 {
    font-weight: 600 !important;
    font-size: 16px !important;
  }
  
  .card-headings {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .add-account-main-div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
  }
  #btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  